.container {
    display: flex;
    flex-direction:column;
    justify-content:center;
    width: 70%;
    height: 65%;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.sorting {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
}

.sort-btn {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    background-color: #083d6c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.tablinks2{
    color: #083d6c;
    background-color: lightgrey;
    display: flex;
}

.tablinks2 button{
    margin-right: 2rem;
}

.tablinks{
    color: lightgrey;
    background-color:#083d6c;
}
