.vote-button svg path {
    display: inline-block;
    cursor: pointer;
    color: #687074;
    padding: 5px 10px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.vote-button.on svg path,
.vote-button svg path:hover {
    color: #083d6c;
    background-color: #f0f0f0;
    filter: drop-shadow(2px 2px 3px #687074);
}

.reputation {
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
}

.reputation-value{
    font-size: 0.95em;
}